@charset "ISO-8859-1";

/* Estilos del index */
.album{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
}

.center{
    margin: 90px auto !important;
}

/* FOOTER */

.footer-layout{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 70px;
    line-height: 70px;
    align-items: center;
}

.footer-p{
    font-size: 20px;
    text-align: center;
}

/* Estilos para vistas de Usuarios y Cursos */

.body-usuarios-cursos {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
}

.upload-User-Course {
    background-color: rgba(0, 0, 0, 0.757);
    padding: 30px;
}

.upload-User-Course label {
    color: #fff;
}
/* para las filas de la tabla mostrar usuarios y cursos */
.black {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
 }