/* @charset "ISO-8859-1"; */

body{
    background:url("../img/fondo2.jpg");
    background-size: cover;
}

.container{
    padding: 20px;
    margin: 40px auto ;
    /* width: 700px !important; */
    /* height: 550px; */
    padding: 25px;
    /* border:3px solid #fff; */
    border-radius: 40px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.583);
}

.cuerpo{
    display: flex;
    font-size: 20px;
    border: 3px solid #fff;
    border-radius: 30px;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.481);
    margin-bottom: 30px;
}

/* FOOTER */

.footer-layout{
    background-color: #000;
    /* display: flex; */
    /* position: fixed; */
    color: #fff;
    width: 100%;
    height: 70px;
    /* bottom: 0; */
    line-height: 70px;
    align-items: center;
    /* margin-bottom: 0 !important; */
}

.footer-p{
    font-size: 20px;
    text-align: center;
    
}
