<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Usuario</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}">
</head>

<body class="body-usuarios-cursos">

    <div th:insert="/layout/header :: header"></div>
    <br>
    <div class="container">
        <div class="alert alert-success alert-dismissible fade show row" role="alert"
            th:if="${formUsuarioErrorMessage}">
            <label th:text="${formUsuarioErrorMessage}"></label>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <main>
        <div>
            <div class="col-md-7 col-lg-8 center">
                <form class="upload-User-Course" th:object="${unUsuario}"
                    th:action="${band}?@{/editarUsuario}:@{/guardarUsuario}" method="post">
                    <input type="hidden" class="form-control" th:if="${band}" th:field="*{contrasena}">
                    <input type="hidden" class="form-control" th:if="${band}" th:field="*{dni}">
                    <input type="hidden" class="form-control" th:if="${band}" th:field="*{estado}">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
                        </div>
                        <div class="col-sm-6">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido" th:field="*{apellido}">
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
                        </div>
                        <div class="col-6">
                            <label for="mail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="mail" placeholder="you@example.com"
                                th:field="*{mail}">
                        </div>
                        <div class="col-6" th:if="${band == false}">
                            <!-- dentro del div    th:if="${band == false}" -->
                            <label for="contraseña" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="contraseña"
                                placeholder="Ingrese su contraseña" th:field="*{contrasena}">
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}"></div>
                        </div>
                        <div class="col-sm-6" th:if="${band == false}">
                            <label for="dni" class="form-label">DNI</label>
                            <input type="number" class="form-control" id="dni" placeholder="12345678" th:field="*{dni}">
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
                        </div>
                        <div class="col-sm-6">
                            <label for="fechnac" class="form-label">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" id="fechanac" th:field="*{fechanac}">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" ><span th:text="${band}?'Modificar':'Guardar'"></span>  </button>
                    <a class="btn btn-light" th:href="@{/}">Volver</a>
                </form>
      </div>
    </div>
</main>

<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    
</body>
</html>
