<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" href="" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" type="text/css">
    <title>Mostrar Usuario</title>
</head>

<body>
    <style>
        table {
            margin: 40px auto;
            align-items: center;
            text-align: center;
        }

        th {
            padding: 15px;
            border: 3px solid rgb(52, 204, 52);
            border-radius: 5px;
            color: #fff;
        }

        tr td,
        th {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    </style>

    <div th:insert="/layout/header :: header"></div>

    <div class="container">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electronico</th>
                <!-- <th>Contrseña</th> -->
                <th>DNI</th>
                <th>Fecha de Nacimiento</th>
                <th>Edicion</th>
            </tr>
            <tr th:each="usr:${listUser}">
                <th th:text="${usr.nombre}"></th>
                <th th:text="${usr.apellido}"></th>
                <th th:text="${usr.email}"></th>
                <!-- <th th:text="${usr.contrasenia}"></th> -->
                <th th:text="${usr.dni}"></th>
                <th th:text="${usr.fechanac}"></th>
                <th>
                    <a href="" class="btn btn-warning" th:href="@{'/editUser/' + ${usr.dni}}">Editar</a>
                    <a href="" class="btn btn-danger" th:href="@{'/deleteUser/' + ${usr.dni}}">Borrar</a>
                </th>
            </tr>
        </table>
    </div>

    <div th:insert="/layout/footer :: footer"></div>

</body>

</html>