<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" href="" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" type="text/css">
    <title>Mostrar Usuario</title>
</head>

<body>
    <style>
        table {
            margin: 40px auto;
            align-items: center;
            text-align: center;
        }

        th {
            padding: 15px;
            border: 3px solid rgb(52, 204, 52);
            border-radius: 5px;
            color: #fff;
        }

        tr td,
        th {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    </style>

    <div th:insert="/layout/header :: header"></div>

    <div class="container">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electronico</th>
                <!-- <th>Contrseña</th> -->
                <th>DNI</th>
                <th>Fecha de Nacimiento</th>
                <th>Edicion</th>
            </tr>
            <tr th:each="usr:${listUser}">
                <th th:text="${usr.nombre}"></th>
                <th th:text="${usr.apellido}"></th>
                <th th:text="${usr.email}"></th>
                <!-- <th th:text="${usr.contrasenia}"></th> -->
                <th th:text="${usr.dni}"></th>
                <th th:text="${usr.fechanac}"></th>
                <th>
                    <a href="" class="btn btn-warning" th:href="@{'/editUser/' + ${usr.dni}}">Editar</a>
                    <a href="" class="btn btn-danger" th:onclick="'javascript:confirmarEliminar(\''+${usr.dni}+'\');'">Borrar</a>
                    <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->
                    <!--  -->
                </th>
            </tr>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="/layout/footer :: footer"></div>


</body>

    <script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" src="webjars/popper.js/1.16.0/popper.min.js"></script>

    <script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.jquery}" type="text/jquery" src="webjars/bootstrap/5.0.0/jquery/bootstrap.min.jquery"></script>

    <script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/5.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function confirmarEliminar(dni){
            $('#modalEliminar').modal('show');
            $("#identificadorDeUsuario").val(dni);
        }
    </script>

</html>